@font-face {
  font-family: "iconfont"; /* Project id 2753278 */
  src: url('iconfont.woff2?t=1629272494331') format('woff2'),
       url('iconfont.woff?t=1629272494331') format('woff'),
       url('iconfont.ttf?t=1629272494331') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-select-copy:before {
  content: "\e96b";
}

.icon-upload:before {
  content: "\e96a";
}

.icon-slider:before {
  content: "\e80e";
}

.icon-checkbox:before {
  content: "\e63e";
}

.icon-select:before {
  content: "\e600";
}

.icon-table:before {
  content: "\e658";
}

.icon-form:before {
  content: "\e6ae";
}

.icon-date:before {
  content: "\e619";
}

.icon-button:before {
  content: "\e648";
}

.icon-rate:before {
  content: "\e62e";
}

.icon-cascader:before {
  content: "\e616";
}

.icon-input:before {
  content: "\e604";
}

.icon-switch:before {
  content: "\e608";
}

.icon-radio:before {
  content: "\e601";
}

.icon-transfer:before {
  content: "\e857";
}

